* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #c3e9fe;
}
.main {
  &__section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    row-gap: 50px;
    &__text {
      &__title {
        color: #009999;
        padding: 30px 70px;
      }
    }
    &__cards {
      &__text {
        color: #a2a2a2;
      }
    }
  }
}
